models/OpenCabinetDoor_OpenCabinetDrawer.ckpt filter=lfs diff=lfs merge=lfs -text
models/PushChair-v0_PN_Transformer.ckpt filter=lfs diff=lfs merge=lfs -text
models/MoveBucket-v0_PN_Transformer.ckpt filter=lfs diff=lfs merge=lfs -text
